<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add beer</title>
</head>
<body>
    <form th:method="POST" th:action="@{/beers}" th:object="${beer}">
        <label for="brand">Enter brand of beer:</label>
        <input type="text" th:field="*{brand}" id="brand"/>
        <div style="color:red" th:if="${#fields.hasErrors('brand')}" th:errors="*{brand}">brand error</div>
        <br/>
        <label for="typeBeer">Enter style of beer:</label>
        <input type="text" th:field="*{typeBeer}" id="typeBeer"/>
        <br/>
        <label for="originalGravity">Enter original gravity of beer:</label>
        <div style="color:red" th:if="${#fields.hasErrors('originalGravity')}" th:errors="*{originalGravity}">O.G. error</div>
        <input type="text" th:field="*{originalGravity}" id="originalGravity"/>
        <br/><label for="alcoholVolume">Enter alcohol volume of beer:</label>
        <div style="color:red" th:if="${#fields.hasErrors('alcoholVolume')}" th:errors="*{alcoholVolume}">Alcohol volume error</div>
        <input type="text" th:field="*{alcoholVolume}" id="alcoholVolume"/>
        <br/>
        <label for="buyPrice">Enter buy price of beer:</label>
        <div style="color:red" th:if="${#fields.hasErrors('buyPrice')}" th:errors="*{buyPrice}">Buy price error</div>
        <input type="text" th:field="*{buyPrice}" id="buyPrice"/>
        <br/>
        <label for="cellPrice">Enter cell price of beer:</label>
        <div style="color:red" th:if="${#fields.hasErrors('cellPrice')}" th:errors="*{cellPrice}">Cell price error</div>
        <input type="text" th:field="*{cellPrice}" id="cellPrice"/>
        <br/>
        <input type="submit" value="Add a new beer"/>
    </form>
</body>
</html>